
.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light
	button.navbar-toggler(
		type="button"
		data-toggle="collapse"
		data-target="#navbarToggler"
		aria-controls="navbarToggler"
		aria-expanded="false"
		aria-label="Toggle navigation")
		span.navbar-toggler-icon
	a.navbar-brand(href="#") AnimEditorJS

	#navbarToggler.collapse.navbar-collapse
		ul.navbar-nav.mr-auto.mt-2.mt-lg-0
			li.nav-item.dropdown
				a.nav-link.dropdown-toggle#navbarDropdown(
					href="#"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false")
					| Файл
				.dropdown-menu(aria-labelledby="navbarDropdown")
					a.dropdown-item(href="#") Открыть
					a.dropdown-item(href="#") Сохранить
					.dropdown-divider
					a.dropdown-item(href="#" data-toggle="modal" data-target="#aboutModal")
						| О программе

			li.nav-item.dropdown
				a.nav-link.dropdown-toggle#navbarDropdown(
					href="#"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false")
					| Вид
				.dropdown-menu(aria-labelledby="navbarDropdown")
					a.dropdown-item(
						data-toggle="collapse"
						href="#panelProperties"
						role="button"
						aria-expanded="false"
						aria-controls="panelProperties")
						| Панель инструментов

			li.nav-item.dropdown
				a.nav-link.dropdown-toggle#navbarDropdown(
					href="#"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false")
					| Добавить
				.dropdown-menu(aria-labelledby="navbarDropdown")
					include figures

#aboutModal.modal.fade(
	tabindex="-1"
	role="dialog"
	aria-labelledby="aboutModalLabel"
	aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#aboutModalLabel О программе
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				p Программа создания и редактировния двухмерной анимации для JS Canvas.
				p Автор: Святоха Артём.
			.modal-footer
				button.btn.btn-primary(type="button" data-dismiss="modal") Закрыть

include code-modal
