
.navbar.navbar-expand-lg.navbar-light.bg-light
	.collapse.navbar-collapse
		ul.navbar-nav
			li.nav-item.dropdown
				a.nav-link.dropdown-toggle#navbarDropdown(
					href="#"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false")
					| Файл
				.dropdown-menu(aria-labelledby="navbarDropdown")
					a.dropdown-item(href="#") Открыть
					a.dropdown-item(href="#") Сохранить
					.dropdown-divider
					a.dropdown-item(href="#" data-toggle="modal" data-target="#aboutModal")
						| О программе

			li.nav-item.dropdown
				a.nav-link.dropdown-toggle#navbarDropdown(
					href="#"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false")
					| Добавить
				.dropdown-menu(aria-labelledby="navbarDropdown")
					a.dropdown-item.js-button-figure(
						data-obj="Circle"
						data-prop="{'radius':20}")
						| Круг
					a.dropdown-item.js-button-figure(
						data-obj="Ellipse"
						data-prop="{'rx':20,'ry':30}")
						| Елипс
					

#aboutModal.modal.fade(
	tabindex="-1"
	role="dialog"
	aria-labelledby="aboutModalLabel"
	aria-hidden="true")
	.modal-dialog.modal-dialog-centered(role="document")
		.modal-content
			.modal-header
				h5.modal-title#aboutModalLabel О программе
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				p Программа создания и редактировния двухмерной анимации для JS Canvas.
				p Автор: Святоха Артём.
			.modal-footer
				button.btn.btn-primary(type="button" data-dismiss="modal") Закрыть
