#canvas-wrapper
	canvas#canvas

.content-fluid
	.row
		accordion#panelProperties.collapse.show.col-12.col-sm-9.col-md-6.col-lg-3.offset-sm-3.offset-md-6.offset-lg-9
			.card
				.card-header
					button.btn.btn-link.mb-0.collapsed(
						type="button"
						data-toggle="collapse"
						data-target="#collapseProperties"
						aria-expanded="true"
						aria-controls="collapseProperties")
						| Свойства

				#collapseProperties.collapse
					.card-body.js-obj-properties

			.card
				.card-header
					button.btn.btn-link.mb-0.collapsed(
						type="button"
						data-toggle="collapse"
						data-target="#collapseObjsTree"
						aria-expanded="true"
						aria-controls="collapseObjsTree")
						| Дерево обьектов

				#collapseObjsTree.collapse
					.card-body.treeview
