#canvas-wrapper
	canvas#canvas

.content-fluid
	.row
		accordion.col-md-3.offset-md-9
			.card
				.card-header
					button.btn.btn-link.mb-0.collapsed(
						type="button"
						data-toggle="collapse"
						data-target="#collapseProperties"
						aria-expanded="true"
						aria-controls="collapseProperties")
						| Свойства

				#collapseProperties.collapse
					.card-body test

			.card
				.card-header
					button.btn.btn-link.mb-0.collapsed(
						type="button"
						data-toggle="collapse"
						data-target="#collapseObjsTree"
						aria-expanded="true"
						aria-controls="collapseObjsTree")
						| Дерево обьектов

				#collapseObjsTree.collapse
					.card-body.treeview
